/results_*
/*.src.rpm

/syncthing-source-v0.14.35.tar.gz
/syncthing-source-v0.14.36.tar.gz
/syncthing-source-v0.14.37.tar.gz
/syncthing-source-v0.14.38.tar.gz
/syncthing-source-v0.14.39.tar.gz
/syncthing-source-v0.14.40.tar.gz
/syncthing-source-v0.14.41.tar.gz
/syncthing-source-v0.14.42.tar.gz
/syncthing-source-v0.14.43.tar.gz
/syncthing-source-v0.14.44.tar.gz
/syncthing-source-v0.14.45.tar.gz
/syncthing-source-v0.14.46.tar.gz
/syncthing-source-v0.14.48.tar.gz
/syncthing-source-v0.14.49.tar.gz
/syncthing-source-v0.14.50.tar.gz
/syncthing-source-v0.14.51.tar.gz
/syncthing-source-v0.14.52.tar.gz
/syncthing-source-v0.14.53.tar.gz
/syncthing-source-v0.14.54.tar.gz
/syncthing-source-v1.0.0.tar.gz
/syncthing-source-v1.0.1.tar.gz
/syncthing-source-v1.1.0.tar.gz
/syncthing-source-v1.1.1.tar.gz
/syncthing-source-v1.1.3.tar.gz
/syncthing-source-v1.1.4.tar.gz
/syncthing-source-v1.2.0.tar.gz
/syncthing-source-v1.2.1.tar.gz
/syncthing-source-v1.2.2.tar.gz
/syncthing-source-v1.3.0.tar.gz
/syncthing-source-v1.3.1.tar.gz
/syncthing-source-v1.3.2.tar.gz
/syncthing-source-v1.3.3.tar.gz
/syncthing-source-v1.3.4.tar.gz
/syncthing-source-v1.4.0.tar.gz
/syncthing-source-v1.4.2.tar.gz
/syncthing-source-v1.5.0.tar.gz
